
<div class="content-flex">


<nav class="menu-navegacion">
    <ul>
        <li><a [routerLink]="['/home']">Inicio</a></li>
        <li><a >Sobre nosotros</a></li>
        <li><a >Tecnologias</a></li>
        <li><a>Contactanos</a></li>
        <li><a [routerLink]="['/login']">Login</a></li>
        <li><a [routerLink]="['/login']">Registrarse</a></li>
       
    </ul> 
    <!----
 <div class="btn-sesion">
        <button class="btn-login" (click)="cerrarSesion()" *ngIf="!login">Cerrar Sesión</button>
        <button class="btn-login" (click)="login()"*ngIf="login"><a [routerLink]="['/login']">Iniciar Sesión</a></button>
    </div> 
    --->
</nav>


</div>
